<html lang="ko" layout:decorate="~{layout/layout}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<!-- 비밀번호 변경 폼 시작 -->
<div class="container" layout:fragment="content">
    <div class="row d-flex justify-content-center my-5">
        <div class="col-10 col-lg-5 col-md-6 custom-border rounded-4 my-5 py-4">
            <div class="container">
                <div class="d-flex align-items-center mb-4 px-3">
                    <h3 class="mb-0 custom-login-color">비밀번호 변경</h3>

                </div>
            </div>
            <!-- 비밀번호 변경 폼 -->
            <form th:object="${memberForm}" th:action="@{/change-password}" method="post">
                <!-- 숨겨진 필드로 loginId와 name 전송 -->
                <input type="hidden" th:field="*{loginId}" />
                <input type="hidden" th:field="*{name}" />

                <!-- 현재 비밀번호 입력 필드 -->
                <div class="mb-4">
                    <input type="password" class="form-control custom-input-size" id="currentPassword"
                           th:field="*{password}" th:errorclass="field-error" placeholder="현재 비밀번호를 입력하세요">
                    <div class="field-error" th:errors="*{password}"></div>
                </div>
                <!-- 새 비밀번호 입력 필드 -->
                <div class="mb-4">
                    <input type="password" class="form-control custom-input-size" id="newPassword"
                           th:field="*{newPassword}" th:errorclass="field-error" placeholder="새 비밀번호를 입력하세요">
                    <div class="field-error" th:errors="*{newPassword}"></div>
                </div>
                <!-- 새 비밀번호 확인 입력 필드 -->
                <div class="mb-4">
                    <input type="password" class="form-control custom-input-size" id="confirmNewPassword"
                           th:field="*{confirmNewPassword}" th:errorclass="field-error" placeholder="새 비밀번호 확인">
                    <div class="field-error" th:errors="*{confirmNewPassword}"></div>
                </div>
                <hr class="custom-hr">
                <!-- 비밀번호 변경 버튼 -->
                <button type="submit" class="w-100 btn-login">비밀번호 변경</button>
            </form>
        </div>
    </div>
</div>
<!-- 비밀번호 변경 폼 끝 -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>

</html>
