body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
}
header {
  background-color: #007bff;
  color: #fff;
  padding: 15px;
  text-align: center;
}
.form-group {
  margin-bottom: 15px;
}
.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}
.form-group input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
}
.status p {
  font-size: 18px;
  font-weight: bold;
}
.graphs-container > div {
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #fff;
  padding: 20px;
  height: 400px;
}
.prediction-output {
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #fff;
}
.image-container {
  text-align: center;
}
.image-container img {
  width: 50px;
  height: 50px;
}

#data-plot, #training-performance, #batch-performance {
  width: 100%;
  height: 400px; /* 차트가 들어갈 div의 높이 설정 */
}
.plotly-chart {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden; /* 자식 요소가 넘어갈 경우 숨기기 */
}

.plotly-chart > * {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scale(1); /* 필요에 따라 비율 조정 */
  transform-origin: top left; /* 조정 기준점 설정 */
}

.usage-card-body {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  margin: auto;
}

.usage-title {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 20px;
  text-align: center;
}

.usage-section {
  margin-bottom: 20px;
}

.section-title {
  font-size: 1.2rem;
  color: #007BFF;
  margin-bottom: 10px;
}

.section-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.section-list li {
  margin-bottom: 10px;
  font-size: 1rem;
  color: #555;
}

.section-list li::before {
  content: "•";
  color: #007BFF;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.section-image {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
  border-radius: 8px;
}