.post-card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #fff;
    cursor: pointer; /* 커서가 손가락 모양으로 바뀌도록 설정 */
    transition: background-color 0.3s ease, box-shadow 0.3s ease; /* 부드러운 색상 및 그림자 전환 효과 */
}
.post-card:hover {
    background-color: #f0f8ff; /* 카드에 호버 시 배경색 변경 (밝은 파란색) */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* 카드에 호버 시 그림자 효과 증가 */
}
.post-meta {
    color: #6c757d;
    font-size: 0.9em;
}
.post-content {
    margin-top: 10px;
    margin-bottom: 15px;
}
.post-container {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px;
    background-color: #fff;
    margin-bottom: 20px;
}
.post-meta {
    color: #6c757d;
    font-size: 0.9em;
}
/*.post-content {*/
/*    margin-top: 15px;*/
/*}*/
.btn-container {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    margin-top: 20px;
}
.btn-back {
    margin-left: auto; /* 돌아가기 버튼을 오른쪽 끝으로 정렬 */
}
