/* 폰트 적용 */
@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Nanum+Brush+Script&family=Noto+Sans+KR:wght@100..900&display=swap');

body {
    font-family: "Noto Sans KR", sans-serif;
    margin: 0;
    padding: 0;
    /*background-color: #f4f4f4;*/
    /*color: #333;*/
    /*padding-top: 30px;*/
}
.banner {
    background-image: url(../images/중간배너.webp);
    background-attachment: fixed;
    background-size: cover;
}
.midbanner{
    height: 400px;
}

.card-body img{
    height: 70px;
}

h1, h2, h3, h4, h5, .nav-font, .p-font {
    font-family: "Do Hyeon", sans-serif;
}


.a-font {
    font-family: "Noto Sans KR", sans-serif;
}

.bg-custom {
    background-color: #0a008f !important; /* !important 추가 */
}

/* 글씨 색 지정 */
.custom-login-color {
    color: #213180;
}

.btn-custom {
    background-color: #ffae00;
    border:1px solid #ffae00;
}

.btn-login {
    height: 60px;
    font-size: 1.5rem;
    border-radius: 20px;
    background-color: #213180 !important;
    padding: 10px;
    border-width: 2px;
    margin-top: 10px;
    color : #ffffff !important;
    border: 1px solid #213180;
}


/* 버튼에 마우스를 올렸을 때의 스타일 유지 */
.btn-custom:hover, .btn-custom:focus, .btn-custom:active
 {
    background-color: #ffae00 !important;
    color: #000000 !important;
    border-color: #ffae00 !important;
    box-shadow: none !important;
    outline: none !important;
}

.radio-buttons {
    margin-bottom: 30px;
    text-align: center;
}

.custom-border {
    border: 1px solid #213180;
}

/* 링크 스타일 */
a {
    text-decoration: none;
    color: gray;
}

.custom-input-size {
    height: 60px;
    font-size: 1.2rem;
    border-radius: 20px;
    padding: 10px;
    border-width: 2px;
}

.custom-input-size:focus {
    border-color: #213180;
    outline: none;
}

.custom-hr {
    border: none;
    border-top: 3px solid #213180;
    margin-top: 30px;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.status p {
    font-size: 18px;
    font-weight: bold;
}

.graphs-container > div, .prediction-output {
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #fff;
    padding: 20px;
    height: 400px;
}

#data-plot, #training-performance, #batch-performance {
    width: 100%;
    height: 400px; /* 차트가 들어갈 div의 높이 설정 */
}

.plotly-chart {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden; /* 자식 요소가 넘어갈 경우 숨기기 */
}

.plotly-chart > * {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: scale(1); /* 필요에 따라 비율 조정 */
    transform-origin: top left; /* 조정 기준점 설정 */
}

/* 팀원 소개 제목 스타일 */
.team_title {
    background-color: #0a008f;
    color: #d6d6d6;
    padding: 20px;
    border-radius: 8px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    text-transform: uppercase;
}

h1 span {
    color: #007bff;
    font-weight: 900;
}

.img-box1 {
    width: 1000px;
    height: 500px;
    background-image: url("../images/서울-색상-지도-min.jpg");
    background-size: 100% 100%;
}

.img-box2 {
    width: 200px;
    height: 100px;
    background-image: url("../images/696619c7ce945422e92c19d5860cc117151911.jpg");
    background-size: cover;
}

/* 미디어 쿼리 */
@media (min-width:768px) and (max-width:1024px){
    .text {
        font-size: 15px;
    }
}

.text1 {
    vertical-align: middle;
}

.font-color1 {
    background-color: #213180;
}

.card {
    margin-bottom: 20px;
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card-img-top {
    max-height: 350px;
    object-fit: cover;
}

.navbar {
    background-color: #28599D;
    font-family: "Do Hyeon", sans-serif;
}

.lofo-font {
    color: #0B0629;
    font-family: "Do Hyeon", sans-serif;
    font-size: 40px;
    text-shadow: 2px 2px 0 #FFAE00, -2px -2px 0 #FFAE00, 2px -2px 0 #FFAE00, -2px 2px 0 #FFAE00;
}

#result-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.yellow { background-color: #f4d03f; }
.blue { background-color: #3498db; }
.red { background-color: #e74c3c; }
.gray { background-color: #95a5a6; }
.green { background-color: #2ecc71; }

.back-button {
    margin-bottom: 20px;
    text-align: left; /* 좌측 정렬 */
}
.back-button a {
    text-decoration: none;
    color: white;
    background-color: #6c757d;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
.back-button a:hover {
    background-color: #495057;
}

.lotto-number, .analyze-button {
    display: inline-block;
    width: 75px;
    height: 75px;
    line-height: 75px;
    text-align: center;
    border-radius: 50%;
    margin: 5px;
    font-size: 30px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.3);
    user-select: none;
}

.analyze-button {
    background-color: #1e49f5;
    margin-right: 20px;
}

.analyze-button:hover {
    background-color: #2c3e50;
}

body a :hover,
button :hover{
    background-color: #777777;
}

.img-news {
    width: 200px;
    height: 100px;
    max-height: 200px;
    object-fit: cover;
}

.text-truncate {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}


.news_thum {
    width: 320px;
    height: 80px;
    padding: 12px 14px;
    display: inline-block; /* 수평 정렬을 위해 inline-block 사용 */
}

.news_top {
    display: flex;
    align-items: center;
}

.news_list {
    display: flex; /* 추가 */
    transition: transform 0.3s ease; /* 부드러운 전환 효과 */
}

.row {
    display: flex;
    transition: transform 0.3s ease; /* 슬라이드 효과를 위해 트랜지션 추가 */
}

.nav-button {
    cursor: pointer;
}

.d-none {
    display: none;
}

.post-card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #fff;
    cursor: pointer; /* 커서가 손가락 모양으로 바뀌도록 설정 */
    transition: background-color 0.3s ease, box-shadow 0.3s ease; /* 부드러운 색상 및 그림자 전환 효과 */
}
.post-card:hover {
    background-color: #f0f8ff; /* 카드에 호버 시 배경색 변경 (밝은 파란색) */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* 카드에 호버 시 그림자 효과 증가 */
}
.post-meta {
    color: #6c757d;
    font-size: 0.9em;
}
.post-content {
    margin-top: 10px;
    margin-bottom: 15px;
}
.post-container {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px;
    background-color: #fff;
    margin-bottom: 20px;
}
.post-meta {
    color: #6c757d;
    font-size: 0.9em;
}
/*.post-content {*/
/*    margin-top: 15px;*/
/*}*/
.btn-container {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    margin-top: 20px;
}
.btn-back {
    margin-left: auto; /* 돌아가기 버튼을 오른쪽 끝으로 정렬 */
}
