<html lang="ko" layout:decorate="~{layout/layout}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <div class="container mt-5" layout:fragment="content">
        <div class="row justify-content-center mb-4">
            <div class="col-md-4 g-1">
                <a href="lotto" class="btn btn-primary btn-lg w-100">딥러닝 로또 번호 추천</a>
            </div>
            <div class="col-md-4 g-1">
                <a href="lotto_result" class="btn btn-primary btn-lg w-100">생성된 로또 번호 리스트</a>
            </div>
        </div>
        <hr>
        <div class="radio-buttons">
            <h2>분석할 기간 선택</h2>
            <label class="me-3"><input type="radio" name="period" value="all" checked> 전체</label>
            <label class="me-3"><input type="radio" name="period" value="12"> 최근 1년</label>
            <label class="me-3"><input type="radio" name="period" value="24"> 최근 2년</label>
            <label><input type="radio" name="period" value="36"> 최근 3년</label>
        </div>
        <!-- '분석' 버튼과 로또 번호를 같은 줄에 배치 -->
        <div id="result-container">
            <div id="analyzeButton" class="analyze-button" onclick="onAnalyzeClick()">학습</div>
            <div id="result" style="display: flex;"></div>
        </div>
        <!-- 차트 영역 -->
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-12 mb-3">
                <canvas id="lossChart" width="100%"></canvas>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 mb-3">
                <canvas id="accuracyChart" width="100%"></canvas>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 mb-3">
                <canvas id="frequencyChart" width="100%"></canvas>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 mb-3">
                <canvas id="predictionChart" width="100%"></canvas>
            </div>
        </div>
        <div class="row mb-5">
            <div class="col-lg-3 col-md-6 col-sm-12 mb-3">
                <canvas id="hotColdChart" width="100%"></canvas>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 mb-3">
                <canvas id="numberGapChart" width="100%"></canvas>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 mb-3">
                <canvas id="sumHistogram" width="100%"></canvas>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 mb-3">
                <canvas id="consecutiveNumbersChart" width="100%"></canvas>
            </div>
        </div>
        <script th:src="@{/js/lotto_script.js}"></script>
    </div>
</html>
