<html lang="ko" layout:decorate="~{layout/layout}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<!-- 헤더영역 시작 -->

   <!-- 네비게이션바 끝 -->

   <!-- 상위 메인 뉴스 시작 -->
<section layout:fragment="content">
   <div class="container-fluid " >
      <div class="row m-3 p-3">
         <div class="col-4 my-5 py-3">
            <div>
            <img src="/images/배너4수정.png" class="img-fluid">
            </div>
            <p class="text-center m-2">기사헤드라인</p>
         </div>

         <div class="col-4 my-5 py-3">
            <div>
            <img src="/images/배너4수정.png" class="img-fluid">
            </div>
            <p class="text-center m-2">기사헤드라인</p>
         </div>

         <div class="col-4 my-5 py-3">
            <div>
            <img src="/images/배너4수정.png" class="img-fluid">
            </div>
            <p class="text-center m-2">기사헤드라인</p>
         </div>
      </div>
   </div>
   <!-- 상위 메인 뉴스 끝 -->

   <!-- 하단뉴스 시작 -->

   <div class="container">
      <div class="row">
         <div class="m-1">
            <div class="d-flex border-top border-bottom">
               <img src="/images/하단 텐서플로우.png">
               <div class="m-3">
                  <h3>헤드라인</h3>
                  <p>기사내용</p>
                  <p>~~~~~~~~~~~~~~~~~~~~~</p>
                  <p>~</p>
                  <p>기사내용</p>
               </div>
               <p class="ms-auto">날짜</p>
            </div>
         </div>



         <div class="m-1">
            <div class="d-flex border-top border-bottom">
               <img src="/images/하단 텐서플로우.png">
               <div class="m-3">
                  <h3>헤드라인</h3>
                  <p>기사내용</p>
                  <p>~~~~~~~~~~~~~~~~~~~~~</p>
                  <p>~</p>
                  <p>기사내용</p>
               </div>
               <p class="ms-auto">날짜</p>
            </div>
         </div>

         <div class="m-1">
            <div class="d-flex border-top border-bottom">
               <img src="/images/하단 텐서플로우.png">
               <div class="m-3">
                  <h3>헤드라인</h3>
                  <p>기사내용</p>
                  <p>~~~~~~~~~~~~~~~~~~~~~</p>
                  <p>~</p>
                  <p>기사내용</p>
               </div>
               <p class="ms-auto">날짜</p>
            </div>
         </div>

         <div class="m-1">
            <div class="d-flex border-top border-bottom">
               <img src="/images/하단 텐서플로우.png">
               <div class="m-3">
                  <h3>헤드라인</h3>
                  <p>기사내용</p>
                  <p>~~~~~~~~~~~~~~~~~~~~~</p>
                  <p>~</p>
                  <p>기사내용</p>
               </div>
               <p class="ms-auto">날짜</p>
            </div>
         </div>
         <div class="text-center">
            <button class="btn btn-lg m-3"> 더보기</button>
         </div>
      </div>
   </div>
</section>

   <!-- 하단뉴스 끝 -->

   

   <!-- 푸터 시작 -->

   <!-- 푸터 끝 -->


   <script src="/images/js/bootstrap.bundle.js"></script>
