<html lang="ko" layout:decorate="~{layout}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<div class="container max610" layout:fragment="content">
    <div class="py-5 text-center">
        <h2>질문 목록</h2>
    </div>
        <div class="row my-3">
            <div class="col-6">
                <a th:href="@{/question/create}" class="btn btn-primary">질문 등록하기</a>
                <button type="button" class="btn btn-warning" onclick="location.href='/'">이전</button>
            </div>
            <div class="col-6">
                <div class="input-group">
                    <input class="form-control" id="search_kw" type="text" placeholder="Search" th:value="${kw}">
                    <button class="btn btn-outline-success" type="button" id="btn_search">찾기</button>
                </div>
            </div>
        </div>
        <table class="table table-striped table-hover">
            <thead class="table-danger">
            <tr>
                <th>번호</th>
                <th>제목</th>
                <th>글쓴이</th>
                <th>작성일시</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="question, loop : ${paging}">
<!--                    <td th:text="${index.count}"></td>-->
<!--                //8월23일 수업 : 페이지 역순으로 표시-->
                <td th:text="${paging.getTotalElements()-(paging.number * paging.size) - loop.index}"></td>
                <td>
                <a th:href="@{/question/detail/{id}(id=${question.id})}" th:text="${question.subject}"></a>
<!--                    8월23일 수업 : 댓글수 표현-->
                    <span class="text-danger small ms-2"
                          th:if="${#lists.size(question.answerList) > 0}"
                          th:text="${#lists.size(question.answerList) + '개의 댓글'}">댓글수</span>
                </td>
                <td th:if="${question.author.loginId != null}" th:text="${question.author.loginId}"></td>
                <td th:text="${#temporals.format(question.createDate, 'yyyy-MM-dd hh:mm')}"></td>

            </tr>
            <tr th:if="${#lists.isEmpty(paging)}">
                <td colspan="7" class="text-center">질문이 없습니다.</td>
            </tr>
            </tbody>
        </table>
<!--        8월22일 수업 : 페이징-->
        <!-- 페이징 시작 -->
        <div>
            <ul class="pagination justify-content-center">
                <!-- 이전 페이지 링크 -->
                <li class="page-item" th:classappend="${!paging.hasPrevious()} ? 'disabled'">
                    <a class="page-link" href="javascript:void(0)" th:data-page="${paging.number - 1}">이전</a>
                </li>

                <!-- 페이지 번호 링크들 -->
                <li class="page-item" th:each="page : ${#numbers.sequence(0, paging.totalPages - 1)}"
                    th:classappend="${page == paging.number} ? 'active'" th:if="${page >= paging.number - 5 and page <= paging.number + 5}">
                    <a class="page-link" th:text="${page}" href="javascript:void(0)" th:data-page="${page}" >1</a>
                </li>

                <!-- 다음 페이지 링크 -->
                <li class="page-item" th:classappend="${!paging.hasNext()} ? 'disabled'">
                    <a class="page-link" href="javascript:void(0)" th:data-page="${paging.number + 1}">다음</a>
                </li>
            </ul>
        </div>
        <!-- 페이징 끝 -->
<!--    검색 폼 만들기-->
    <form th:action="@{/question/list}" method="get" id="searchForm">
        <input type="hidden" name="kw" id="kw" th:valus="${kw}">
        <input type="hidden" name="page" id="page" th:valus="${paging.number}">
    </form>
    </div>
<script layout:fragment="script">
    $(function (){
    //이전, 다음 페이징 버튼
        $(".page-link").on('click', function (){
            $('#page').val($(this).data('page'))
            $('#searchForm').submit();
})
//찾기버튼

        $("#btn_search").on('click', function (){
            $('#kw').val($('#search_kw').val())
            $('#page').val(0)   //검색버튼 클릭시 0페이지부터 찾는다.
            $('#searchForm').submit();
    })
        // 입력 필드에서 엔터키로 폼 제출
        $("#search_kw").on('keypress', function(event) {
            if (event.key === 'Enter') {
                event.preventDefault(); // 기본 엔터키 동작 방지
                $('#btn_search').click(); // 찾기 버튼 클릭
            }
        });
})
</script>
</html>
