<html lang="ko" layout:decorate="~{layout}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<div class="container max600" layout:fragment="content">
    <div>
        <div class="py-5 text-center">
            <h2>질문 상세페이지</h2>
        </div>
        <h2 class="border-bottom py-2" th:text="${question.subject}"></h2>
        <div class="card my-3">
            <div class="card-body">
                <div class="card-text" th:text="${question.content}"></div>
                <div class="d-flex justify-content-end">
                    <div class="badge bg-light text-dark p-2 text-start">
                        <div class="mb-2">
                            <span th:if="${question.author.loginId != null}" th:text="${question.author.loginId}">글쓴이</span>
                        </div>
                        <div th:text="${#temporals.format(question.createDate,'yyyy-MM-dd hh:mm')}"></div>
                    </div>
                </div>
                <!-- 질문 수정 -->
                <div class="my-3">
                    <a th:href="@{|/question/modify/${question.id}|}" class="btn btn-sm btn-outline-warning" th:if="${question.author.loginId != null and loginMember.loginId == question.author.loginId}" th:text="수정">수정</a>
                    <a href="javaScript:void(0);" th:data-url="@{|/question/delete/${question.id}|}" class="delete btn btn-sm btn-outline-danger" th:if="${question.author.loginId != null and loginMember.loginId == question.author.loginId}" th:text="삭제">삭제</a>
                </div>
                <!-- javascript:void(0);는 "아무것도 하지 않는 자바스크립트"를 실행하는 것을 의미합니다. JavaScript의 void 연산자는 항상 undefined를 반환하므로, 이것을 사용하면 클릭 시 아무것도 일어나지 않습니다. -->
            </div>
        </div>
    </div>
    <!-- 답변 개수 표시 -->
    <h5 class="border-bottom my-3 py-2" th:text="|${#lists.size(question.answerList)}개의 답변이 있습니다|"></h5>
    <!-- 답변 반복 시작 -->
    <div class="card my-3" th:each="answer : ${question.answerList}">
        <div class="card-body">
            <div class="card-text" th:text="${answer.content}"></div>
            <div class="d-flex justify-content-end">
                <div class="badge bg-light text-dark p-2 text-start">
                    <div class="mb-2">
                        <span th:if="${answer.author.loginId != null}" th:text="${answer.author.loginId}">글쓴이</span>
                    </div>
                    <div th:text="${#temporals.format(answer.createDate,'yyyy-MM-dd hh:mm')}"></div>
                </div>
            </div>
            <div class="my-3">
                <a th:href="@{|/answer/modify/${answer.id}|}" class="btn btn-sm btn-outline-warning" th:if="${answer.author.loginId != null and loginMember.loginId == answer.author.loginId}" th:text="수정">수정</a>
                <a th:href="@{|/answer/delete/${answer.id}|}" class="btn btn-sm btn-outline-danger" th:if="${answer.author.loginId != null and loginMember.loginId == answer.author.loginId}" th:text="삭제">삭제</a>
            </div>
        </div>
    </div>
    <!-- 답변 등록하기 -->
    <form method="post" th:action="@{/answer/create/{id} (id=${question.id})}" class="my-3" th:object="${answerForm}">
        <div class="alert alert-danger" role="alert" th:if="${#fields.hasAnyErrors()}">
            <div th:each="err : ${#fields.allErrors()}" th:text="${err}"></div>
        </div>
        <textarea th:field="*{content}" class="form-control"></textarea>
        <p><input type="submit" value="답변 등록" class="btn btn-primary my-2"></p>
    </form>
    <!-- 뒤로 가기 버튼 -->
    <button th:onclick="|location.href='@{/question/list}'|" type="button" class="btn btn-dark">이전</button>
</div>
<script layout:fragment="script">
    $(function (){
        $(".delete").on('click', function (){
            if (confirm("정말로 삭제하시겠습니까?")){
                location.href = $(this).attr('data-url')
            }
        });

        // 찾기 버튼
        $("#btn_search").on('click', function (){
            $('#kw').val($('#search_kw').val());
            $('#page').val(0); // 검색 버튼 클릭 시 0페이지부터 찾는다
            $('#searchForm').submit();
        });
    });
</script>
</html>
